@import "normalize";

@import "offer-page";

@import "../js/navigation/navigation";
@import "../js/main-panel/main-panel";
@import "../js/about/about";
@import "../js/offer/offer";
@import "../js/gallery/gallery";
@import "../js/one-gallery-photo/one-gallery-photo";
@import "../js/one-offer-tile/one-offer-tile";
@import "../js/footer/footer";
@import "../js/contact/contact";



.view-animate.ng-enter {
  transition: all linear .5s;
  opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}

.view-animate.ng-leave {
  transition: all linear .5s;
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}