@import "../css/variables";
.offer-page-container {
  width: 70%;
  margin: 0 auto;
  .offer-page-description {
    padding-top: 200px;
    .title {
      font-family: $OswaldFont;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;
      h1 {
        font-size: 40px;
        margin: 0;
      }
      h3 {
        font-size: 18px;
        margin: 0;
        color: $blue;
      }
    }
    .text {
      font-family: $LatoFont;
      text-align: center;
    }
  }
  .offer-page-tiles {
    padding: 50px 0;
    .one-line {
      &:after {
        display: table;
        content: "";
        clear: both;
      }
    }
  }
}