@import "../../css/variables";
.main-panel {
  width: 100%;
  background-color: lighten($black, 50%);
  min-height: 700px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  .main-panel-container {
    text-align: center;
    display: inline-block;
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
    .main-panel-box {
      display: inline-block;
      padding: 5px 50px;
      border: 3px solid $black;
      text-align: center;
      position: relative;
      z-index: 2;
      @include breakpoint($mobile) {
        padding: 5px 30px;
      }
      .main-panel-text {
        font-family: $OswaldFont;
        text-transform: uppercase;
        @include breakpoint($mobile) {
          font-size: 18px;
        }
        .bigger-text {
          font-size: 40px;
          @include breakpoint($mobile) {
            font-size: 20px;
          }
        }
      }
    }
  }
}