@import "../../css/variables";
.footer {
  background-color: $black;
  .footer-container {
    width: 80%;
    margin: 0 auto;
    height: 126px;
    padding-bottom: 56px;
    @include flexbox();
    @include align-items(flex-end);
    @include justify-content(space-between);
    @include breakpoint($mobile) {
      padding-top: 40px;
      @include flex-direction(column-reverse);
      @include align-items(center);
      @include justify-content(center);
    }
    .blue-text {
      color: $blue !important;
    }
    .all-rights-reserved {
      span {
        font-family: $OswaldFont;
        color: $grey;
      }
    }
    .footer-logo {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include align-items(flex-end);
      @include breakpoint($mobile) {
        @include align-items(center);
        @include justify-content(center);
      }
      img {
        width: 99px;
        margin-bottom: 16px;
      }
      span {
        font-family: $OswaldFont;
        color: $grey;
      }
    }
  }
}