@import "../../css/variables";
.offer {
  .offer-container {
    @include flexbox();
    @include flex-wrap(wrap);
    width: 100%;
    .offer-graphics {
      width: 50%;
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      background-image: url("../../img/house.jpg");
      background-origin: border-box;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      @include breakpoint($desktopAndMobile) {
        width: 100%;
      }
      .offer-text {
        font-family: $OswaldFont;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
        z-index: 3;
        position: relative;
        text-align: center;
        @include breakpoint($desktopAndMobile) {
          padding: 30px 10px;
        }
      }
      .blue-background-opacity {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        z-index: 2;
        opacity: .8;
      }
    }
    .offer-information {
      width: 50%;
      @include flexbox();
      @include flex-direction(column);
      padding: 100px 0;
      @include breakpoint($desktopAndMobile) {
        width: 100%;
      }
      .offer-title {
        font-family: $OswaldFont;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        .bigger-text {
          font-size: 32px;
        }
        .blue-text {
          color: $blue;
          font-size: 14px;
        }
      }
      .offer-text {
        padding: 10px 90px;
        text-align: center;
        font-family: $LatoFont;
        p {
          span {
            margin: 10px 0;
            display: block;
          }
        }
      }
      .offer-button-more {
        text-align: center;
        a {
          color: $blue;
          display: inline-block;
          text-align: center;
          padding: 10px 30px;
          background-color: transparent;
          border: 2px solid $blue;
          outline: 0;
          cursor: pointer;
          font-family: $OswaldFont;
          text-transform: uppercase;
          transition: $sexyAnimation;
          text-decoration: none;
          &:hover {
            background-color: $blue;
            color: $white;
          }
        }
      }
    }
  }
}