<div class="one-tile">
    <img src="http://placehold.it/350x350" alt="">
    <div class="text-container">
        <div class="box">
            <div class="text">
                {{title}}
            </div>
            <button ng-click="vm.switchVisible()">
                Zobacz więcej
            </button>
        </div>
    </div>
</div>
<div class="modal-from-tile" ng-if="vm.visible">
    <div class="modal-content">
        <h1>{{title}}</h1>
        <p>
           {{text}}
        </p>
        <div  class="photos-modal-container">
            <div class="one-photo-modal" ng-repeat="photo in photos track by $index">
                <one-gallery-photo-domex
                        path={{photo}}
                ></one-gallery-photo-domex>
            </div>
        </div>
        <div class="close-modal">
            <button ng-click="vm.switchVisible()">
                <img src="./img/close.png" alt="">
            </button>
        </div>
    </div>
</div>