<div class="one-tile">
    <img src="http://placehold.it/350x350" alt="">
    <div class="text-container">
        <div class="box">
            <div class="text">
                {{title}}
            </div>
            <button ng-click="vm.switchVisible()">
                Zobacz więcej
            </button>
        </div>
    </div>
</div>
<div class="modal-from-tile" ng-if="vm.visible">
    <div class="modal-content">
        <h1>{{title}}</h1>
        <p>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam dicta eligendi incidunt
            ipsa iusto laboriosam laborum libero non, odit perferendis porro praesentium quam rem rerum soluta suscipit vel voluptates.
            </span>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam dicta eligendi incidunt
            ipsa iusto laboriosam laborum libero non, odit perferendis porro praesentium quam rem rerum soluta suscipit vel voluptates.
            </span>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam dicta eligendi incidunt
            ipsa iusto laboriosam laborum libero non, odit perferendis porro praesentium quam rem rerum soluta suscipit vel voluptates.
            </span>
        </p>
        <div class="close-modal">
            <button ng-click="vm.switchVisible()">
                <img src="./img/close.png" alt="">
            </button>
        </div>
    </div>
</div>