@import "../../css/variables";
.one-tile {
  position: relative;
  float: left;
  width: 33.3%;
  height: 428px;
  overflow: hidden;
  margin: 0;
  transition: $sexyAnimation;
  &:hover {
    .text-container {
      background-color: $blueWithOpacity;
      .box {
        button {
          border-color: $white;
          color: $white;
        }
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    display: inline-block;
    table-layout: fixed;
    vertical-align: middle;
    transition: $sexyAnimation;
    .box {
      display: inline-block;
      height: 100%;
      padding-top: 100px;
      .text {
        margin-bottom: 40px;
        font-size: 32px;
        text-transform: uppercase;
        font-family: $OswaldFont;
        padding: 0 50px;
      }
      button {
        border: 2px solid $blue;
        text-align: center;
        background-color: transparent;
        color: $blue;
        text-transform: uppercase;
        width: 193px;
        height: 48px;
        font-family: $OswaldFont;
        cursor: pointer;
        transition: $sexyAnimation;
        &:hover {
          background-color: $white;
          color: $blue;
        }
      }
    }
  }
}

.modal-from-tile {
  position: fixed;
  background: rgba(0,0,0, .3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  .modal-content {
    position: absolute;
    background: $white;
    width: 70%;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    h1 {
      text-align: center;
      font-family: $OswaldFont;
      font-size: 30px;
      text-transform: uppercase;
    }
    .close-modal {
      position: absolute;
      top: 0;
      right: 0;
      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        text-align: center;
      }
    }
  }
}

.modal-from-tile.ng-enter {
  transition: $sexyAnimation;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.modal-from-tile.ng-enter.ng-enter-active {
  opacity:1;
}

.modal-from-tile.ng-leave {
  transition: $sexyAnimation;
  opacity:1;
}
.modal-from-tile.ng-leave.ng-leave-active {
  opacity:0;
}