@import "../../css/variables";
.about {
  .about-container {
    display: table;
    table-layout: fixed;
    .about-information {
      padding: 100px 0;
      width: 50%;
      text-align: center;
      display: table-cell;
      margin: 0;
      .about-title {
        font-family: $OswaldFont;
        font-size: 20px;
        text-transform: uppercase;
      }
      .bigger-text {
        font-size: 32px;
      }
      .blue-text {
        color: $blue;
        font-size: 14px;
      }
      .about-text {
        p {
          font-family: $LatoFont;
          margin: 0;
          display: inline-block;
          text-align: center;
          padding: 20px 100px;
          span {
            display: inline-block;
            margin: 10px 0;
          }
        }
      }
    }
    .about-graphics {
      width: 50%;
      display: table-cell;
      margin: 0;
      padding: 0;
      .one-graphic {
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        height: 460px;
        margin: 0;
        padding: 0;
        text-align: center;
        &:after {
          display: table;
          content: "";
          clear: both;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}