<div>
    <div class="navigation-container">
        <div class="logo">
            <img src="./img/logo.png" alt="">
        </div>
        <div class="navigation-links">
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('about')">
                    O firmie
                </button>
            </div>
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('offer')">
                    Nasza oferta
                </button>
            </div>
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('gallery')">
                    Galeria
                </button>
            </div>
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('contact')">
                    Kontakt
                </button>
            </div>
        </div>
    </div>
</div>