<div class="navigation">
    <div class="navigation-container">
        <div class="logo-container" ng-class="{logo: scroll}">
            <a href="#!/">
                <img ng-class="{smaller: scroll}" src="./img/logo.png" alt="">
            </a>
        </div>
        <div class="hamburger-container">
            <div class="hamburger" ng-class="{open: vm.isOpenMenu}" ng-click="vm.openMenu()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navigation-links" ng-class="{hide: !vm.isOpenMenu, show: vm.isOpenMenu}">
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('about')">
                    O firmie
                </button>
            </div>
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('offer')">
                    Nasza oferta
                </button>
            </div>
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('gallery')">
                    Galeria
                </button>
            </div>
            <div class="one-navigate-link">
                <button ng-click="vm.goToPlace('contact')">
                    Kontakt
                </button>
            </div>
        </div>
    </div>
</div>